{% load i18n cropping staticfiles %}

   <h1 id="about">ABOUT</h1>
   <div class="about" >
      <div class="about__item about__item-left">
         <span class="about__title about__title-number">1.</span>
         <h2 class="about__title">LOG IN</h2>
         <div class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</div>
      </div>

      <div class="about__item about__item-center">
         <span class="about__title about__title-number">2.</span>
         <h2 class="about__title">SELECT MATCH</h2>
         <div class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, eveniet reiciendis. Inventore.</div>
      </div>

      <div class="about__item about__item-right">
         <span class="about__title about__title-number">3.</span>
         <h2 class="about__title">ENTER RESULT</h2>
         <div class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>

   </div>