{% load staticfiles %}
<div id="myCarousel" class="carousel slide carousel-fade " data-interval="4000" data-ride="carousel">
  <!-- Индикаторы для карусели -->
  <ol class="carousel-indicators">
    <!-- Перейти к 0 слайду карусели с помощью соответствующего индекса data-slide-to="0" -->
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <!-- Перейти к 1 слайду карусели с помощью соответствующего индекса data-slide-to="1" -->
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <!-- Перейти к 2 слайду карусели с помощью соответствующего индекса data-slide-to="2" -->
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Слайды карусели -->
  <div class="carousel-inner">
    <!-- Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда -->
    <div class="active item">
       <img src="{% static 'img/bg-related.png' %}" class=" related_match">
          <img src="{% static 'img/arena1.jpg' %}" class="img-responsive related_img">
       <div class="carousel-caption">
          <h3>Team1</h3>
          <div class="divider"><div class="divider-content">VS</div></div>
          <h3>Team2</h3>
          <p>12 FEBRUARY 2017</p>
          <p>DniproArena</p>
       </div>
    </div>
    <!-- Слайд №2 -->
    <div class="item">

       <img src="{% static 'img/bg-related.png' %}" class=" related_match">
       <img src="{% static 'img/arena2.jpg' %}" class="img-responsive related_img">

       <div class="carousel-caption">
        <h3>Team3</h3>
         <div class="divider"><div class="divider-content">VS</div></div>
         <h3>Team4</h3>
         <p>12 FEBRUARY 2017</p>
         <p>DniproArena</p>
       </div>
    </div>
    <!-- Слайд №3 -->
    <div class="item">
       <img src="{% static 'img/bg-related.png' %}" class=" related_match">
          <img src="{% static 'img/arena3.jpg' %}" class="img-responsive related_img">
       <div class="carousel-caption">
          <h3>Team5</h3>
          <div class="divider"><div class="divider-content">VS</div></div>
          <h3>Team6</h3>
          <p>12 FEBRUARY 2017</p>
          <p>DniproArena</p>
       </div>
    </div>
  </div>
  <!-- Навигация для карусели -->
  <!-- Кнопка, осуществляющая переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
  <!-- Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next" -->
  <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
</div>
