{% load staticfiles %}

   <!--// Wrapper //-->
   <div>
      <header id="mainheader" class="header-absolute">
         <!--// TopBar //-->
         <div class="topbar">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <ul class="kode-userinfo">
                        <li><a href="{% url 'livescore' %}" class="text-danger"><i class="fa fa-clock-o "></i>Online Rresult</a></li>
                     {% if user.username %}
                        <li><a href="{% url 'settings' %}"><i class="fa fa-user"></i> My Account</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>LogOut</a></li>
                     {% else %}
                        <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li><a href="#"><i class="fa fa-user-plus"></i> Register</a></li>
                     {% endif %}
                        <li><a href="{% url 'admin:index' %}" data-toggle="modal"><i class="fa fa-cogs"></i> Admin</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!--// TopBaar //-->
         <div class="header-8">
            <div class="container">
               <!--LOGO START-->
               <div class="logo">
                  <a href="{% url 'home' %}">
                     <img src="{% static 'img/logo.svg' %}" alt="">
                  </a>
               </div>
               <!--LOGO END-->
               <!--NAVIGATION START-->
               <div class="navigation">
                  <ul>
                     <li><a href="#home">Home</a></li>
                     <li><a href="#about">About</a></li>
                     <li><a href="#top_matches">Top matches</a></li>
                     <li><a href="#news">News</a></li>
                  </ul>
               </div>
               <!--NAVIGATION END-->
            </div>
         </div>
      </header>
      <div class="subheader">
{#         <img src="{% static 'img/toolbar.png' %}" alt="">#}
      </div>
      <!--// SubHeader //-->
   </div>