<h1 id="news">NEWS</h1>


<div class="container">
    <div class="row">
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Travel</a>
                    </span>
                    <h1 class="post-title">
                        <a href="#">
                            City in the sky: world's biggest hotel to open in Mecca
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/5/22/1432299215355/baff131f-a335-44eb-ad66-03c52c5c2213-620x372.jpeg?w=700&q=85&auto=format&sharp=10&s=31a22f00a85840740c2a8af5604abfb0" alt="City in the sky: world's biggest hotel to open in Mecca"
                class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Travel</a>
                    </span>
                    <h1 class="post-title">
                        <a href="#">
                            Why Palladio is the world's favourite 16th-century architect
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/9/11/1441964447628/5f03adcd-3947-4aec-ba42-8d9365fcf755-620x615.jpeg?w=700&q=85&auto=format&sharp=10&s=661551e4de042aee3003bca57aca876c" alt="Why Palladio is the world's favourite 16th-century architect"
                class="">
            </div>

        </div>
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Travel</a>
                    </span>
                    <h1 class="post-title">
                        <a href="#">
                            'This design is total rubbish': Preston's majestic bus station gets a zombie makeover
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/18/1439900836746/9e43bef2-d7c7-4a97-a1bc-93636ce361a7-620x372.jpeg?w=620&q=85&auto=format&sharp=10&s=7f9bd5cd72f68f040252a9dca512778c" alt="'This design is total rubbish': Preston's majestic bus station gets a zombie makeover"
                class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Tech</a>
                    </span>
                    <h1 class="post-title">
                        <a href="#">
                            Why Apple shouldn’t be selling a 16GB iPhone 6S or 6S Plus
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Sep 15, 2015</span>
                    </span>
                </div>
                <img src="https://i.guim.co.uk/img/media/bbf4a7d1df33ad2604638c03787e7eb0e1f17394/0_149_3000_1800/master/3000.jpg?w=700&q=85&auto=format&sharp=10&s=3ecfcbb58d169db2a27a9718e4689b83" alt="Why Apple shouldn’t be selling a 16GB iPhone 6S or 6S Plus"
                class="">
            </div>

        </div>


    </div>

</div> <!-- /container -->
