<h1 id="news">NEWS</h1>


<div class="container">
    <div class="row">
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Bundesliga</a>
                    </span>
                    <h1 class="post-title">
                        <a href="http://www.skysports.com/football/news/11881/10826910/bundesliga-round-up-borussia-monchengladbach-and-rb-leipzig-win">
                            Borussia Monchengladbach and RB Leipzig win
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Mar 25, 2017</span>
                    </span>
                </div>
                <img src="http://e1.365dm.com/17/04/16-9/20/skysports-borussia-monchengladbach-bundesliga_3924553.jpg?20170405234021" alt="City in the sky: world's biggest hotel to open in Mecca"
                class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Bundesliga</a>
                    </span>
                    <h1 class="post-title">
                        <a href="http://www.skysports.com/football/live-blog/11661/10823186/premier-league-daily-live">
                            Premier League Live Blog
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Mar 30, 2017</span>
                    </span>
                </div>
                <img src="http://img.skysports.com/17/04/768x432/skysports-eden-hazard-chelsea-football-premier-league_3924411.jpg" alt="City in the sky: world's biggest hotel to open in Mecca"
                class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Champions League</a>
                    </span>
                    <h1 class="post-title">
                        <a href="http://www.skysports.com/football/news/11095/10811707/barcelona-and-st-etienne-fined-by-uefa-for-fans-misbehaviour">
                            Barcelona and St Etienne fined by UEFA for fans misbehaviour
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://www.skysports.com/football/news/11095/10811707/barcelona-and-st-etienne-fined-by-uefa-for-fans-misbehaviour">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Apr 05, 2017</span>
                    </span>
                </div>
                <img src="http://e0.365dm.com/17/03/16-9/20/skysports-barcelona-psg-champions-league_3905969.jpg?20170309125055" alt="Why Palladio is the world's favourite 16th-century architect"
                class="">
            </div>

        </div>
        <div class="col-md-6 jasgrid">
            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Champions League</a>
                    </span>
                    <h1 class="post-title">
                        <a href="http://www.skysports.com/football/monaco-vs-man-city/368244">
                            Monaco 3-1 Man City (Agg: 6-6): City out of Champions League on away goals
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Apr 02, 2017</span>
                    </span>
                </div>
                <img src="http://e0.365dm.com/17/03/16-9/20/skysports-sergio-aguero-manchester-city-champions-league-monaco_3910605.jpg?20170316110705" alt="'This design is total rubbish': Preston's majestic bus station gets a zombie makeover"
                class="">
            </div>

            <div class="box-item">
                <div class="box-post">
                    <span class="label label-success">
                        <a href="#" rel="tag">Transfer</a>
                    </span>
                    <h1 class="post-title">
                        <a href="http://www.skysports.com/transfer-centre">
                           Transfer Centre LIVE!
                        </a>
                    </h1>
                    <span class="meta">
                        <span><i class="glyphicon glyphicon-comment"></i> <a href="http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond">No Comments</a></span>
                        <span><i class="glyphicon glyphicon-time"></i> Apr 03, 2017</span>
                    </span>
                </div>
                <img src="https://d2kmm3vx031a1h.cloudfront.net/W5StcSVBQWyq3RpsKtG6_whispers1010101.png" alt="Why Apple shouldn’t be selling a 16GB iPhone 6S or 6S Plus"
                class="">
            </div>

        </div>


    </div>

</div> <!-- /container -->
