{% extends 'site.html' %}

{% block content %}
   <div> м</div>
   {% include '_carousel.html' %}

   <div style="padding-bottom: 800px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid consectetur debitis doloremque facere illo maiores numquam odio possimus quam quos suscipit veniam, voluptatum? Blanditiis dolores inventore laborum rerum tempore.</div>

   <h1>Hello!!!</h1>
{% if user.username %}
   <div>
      <ul>
         <li><a href="{% url 'logout' %}">logout</a></li>
         <li><a href="{% url 'settings' %}">settings</a></li>
</ul>
   </div>
   <h3>User: {{ user.get_full_name }}</h3>
   <h3>Email: {{ user.email }}</h3>
   <h3>Username: {{ user.username }}</h3>
{% else %}
   <div><a href="{% url 'login' %}">login</a></div>
{% endif %}


{% endblock %}