

@charset "utf-8";
/* Default Css Starts */
@import url(css/shortcode.css);
* {
	padding: 0px;
	margin: 0px;
}

/* TopBaar Starts */
.topbar {
	float: left;
	width: 100%;
	background-color: #98d82a;
	position: relative;
	font-size: 13px;
}
.topbar .bx-controls.bx-has-controls-direction{
	display:none;
}

.topbar a,.topbar p,.topbar i,.topbar span { color: #313131; }
.kode-barinfo {
	float: left;
	padding: 5px 16px 5px 16px;
	height:30px;
	overflow:hidden;
}
.kode_bg_white .bx-wrapper .bx-viewport{background:none;}
.kode_bg_white strong{color:#fff;}
.kode-userinfo { float: right; 	margin: 0px;}
.kode-userinfo li {
	list-style: none;
	display: inline-block;

	padding: 6px 11px 5px 15px;
	border-left: 1px solid rgba(255,255,255,0.4);
	position: relative;
}
.kode-userinfo li i {
	margin-right: 4px;
}

/* TopBaar Ends */

/* Main Header Starts */
.header-absolute {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 999;
}
.kd-headbar {
	float: left;
	width: 100%;
	background-color: #98d82a;
	border-bottom: 3px solid;
}
.logo {
	float: left;
	margin: 25px 0px 25px 25px;
	width: 100%;
}
.flag_small {
	width: 24px;
	height: 24px;
}
.sticky .navbar-nav > li > a{
	padding:27px 14px
}
.sticky .kode-search{
	margin:21px -14px 0 0;
}

/* Main Header Ends */

/* Navigation Starts */
.navbar-default {
	background: none;
	border: none;
	margin: 0px;
	float: left;
	display:none;
}
.navbar-default .navbar-nav li {
	list-style: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #eb1a1a;
}
.navbar-nav > li:first-child > a { padding-left: 0px; }
.navbar-nav > li > a {
	padding: 42px 14px;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	overflow: hidden;
}
.navbar-nav > li > a:before {
	content: "\f106";
	font-family: FontAwesome;
	width: 18px;
	height: 9px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	border-radius: 40px 40px 0px 0px;
	color: #ffffff;
	line-height: 9px;
	font-size: 9px;
	padding: 0px 0px 0px 5px;
	z-index: 4;
	margin: 0px 0px -8px -12px;
}
.navbar-nav > li > a:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 1px;
	width: 24px;
	height: 12px;
	border: 1px solid #eb1a1a;
	border-bottom: none;
	border-radius: 40px 40px 0px 0px;
	z-index: 0;
	margin: 0px 0px -8px -15px;
}
.navbar-nav > li > a:before,.navbar-nav > li > a:after { opacity: 0; }
.navbar-nav > li:hover > a:before,.navbar-nav > li:hover > a:after { opacity: 1; margin-bottom: 0px; }
.navbar-nav .children {
	position: absolute;
	left: 0px;
	top: 100%;
	background-color: #333333;
	margin: 0px 0px 0px -50px;
	border-top: 1px solid;
	opacity: 0;
	visibility: hidden;
	z-index: 999;

	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
	-webkit-transform: translateX(30px);
	   -moz-transform: translateX(30px);
	    -ms-transform: translateX(30px);
	     -o-transform: translateX(30px);
	        transform: translateX(30px);
}
.navbar-nav > li:hover > .children,.navbar-nav .children > li:hover > .children {
	opacity: 1;
	visibility: visible;

	-webkit-transform: translateX(0px);
	   -moz-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	     -o-transform: translateX(0px);
	        transform: translateX(0px);
}
.navbar-nav .children li {
	position: relative;
	float: left;
	width: 100%;
}
.navbar-nav .children li a {
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	float: left;
	width: 195px;
	padding: 7px 15px;
	border-bottom: 1px solid #3e3e3e;
}
.navbar-nav .children li a:before {
	content: "\f105";
	font-family: FontAwesome;
	display: inline-block;
	padding: 0px 14px 0px 0px;
}
.navbar-nav .children .children {
	left: 100%;
	top: 0;
	margin: 0px;
}
.navbar-nav .children > li:hover > a,.children > li:hover > a:before { color: #ffffff; }

/* Navigation Ends */

/*

===========================================
		Header 8 Starts
===========================================
*/

.header-8{
	float:left;
	width:100%;
	background-color:rgba(10,10,10,0.7);
	text-align:center;
	padding:25px 0px;
	transition:all 0.3s ease-in-out;
}
.sticky .header-8{
	padding:10px 0px;
	position: fixed;
	background-color:rgba(10,10,10,0.95);
}
.header-8 .navigation ul li a{
	text-align:left;
}
.header-8 .logo{
	width:200px;
	margin:0px;
	float:none;
}
.navigation ul > li.last ul{
	left:auto;
	right:0px;
}

.logo{
	float:left;
}
.logo a{
	display:block;
}
.logo img{
	float:left;
}
.logo a img{
	width:200px;
	margin:0px 25px;
	/*float:none;*/
}
.navigation{
	float:left;
}

.navigation ul{
	float:left;
	margin:0px;
	padding:0px;
	width:100%;
	list-style:none;
}
.navigation ul li{
	float:left;
	position:relative;
	list-style:none;
}
.navigation ul li a{
	display:block;
	font-size:14px;
	text-transform:uppercase;
	color:#fffccf;
	font-weight:bold;
	text-decoration:none;
	padding:15px 16px;
}
.sticky .navigation ul li a{
	display:block;
	font-size:14px;
	text-transform:uppercase;
	color:#fffccf;
	font-weight:bold;
	text-decoration:none;
	padding:15px 16px;
}
.navigation ul li > a:hover{

}
/*dropdown first level Starts*/

.navigation ul ul{
	float:left;
	width:210px;
	position:absolute;
	left:0px;
	top:100%;
	background-color:rgba(0,0,0,0.8);
	visibility:hidden;
	opacity:0;
	margin:20px 0px 0px 0px;
	z-index:10;
	box-shadow:0px 5px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 5px 5px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 5px 5px 0px rgba(0,0,0,0.1);
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;

}

.navigation ul li:hover > ul{
	display:block;
	visibility:visible;
	opacity:1;
	margin:0px;
}
.navigation ul ul li{
	width:100%;
}
.navigation ul ul li a{
	font-weight:normal;
	text-transform:inherit;
	padding:8px 20px;
	text-transform:capitalize;
}
.navigation ul ul li a:hover{
	color:#fff;
}
.navigation ul ul ul{
	left:100%;
	top:0px;
}

/*dropdown first level Ends*/
.subheader {
	float: left;
	width: 100%;
	background-image: url(../img/toolbar.png) ;
	height: 210px;
	position: relative;
	margin-bottom: 20px;
}

/*//////////////////////*/

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
	position: absolute;
	min-width: 700px;
}
.related_match{
    position: absolute;
	top: 0px;
	right: 0px;
	z-index: 3;
	height: 300px;
}
.related_img{
    position: absolute;
	top: 0px; left: 0px;
	z-index: 2;
}
.carousel{
	height: 300px;
    margin: 20px auto 0;
    /*position: absolute;*/
	width: 100%;
	z-index: 100
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-inner>.item>img {
	min-height: 300px;
	max-width: 100%;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-caption{
	right: 0px;
	left: auto;
	width: 200px;
	padding-bottom: 0px;
	margin-right: 10px;
}

.divider {
    display: block;
    margin: 10px 0;
    overflow: hidden;
    text-align: center;
	box-sizing: border-box;
}
.divider>.divider-content {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.divider-content:before, .divider-content:after {
  background-color: #ddd;
  content: "";
  display: block;
  height: 1px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 60px;
}
.divider-content:before {
  right: 100%;
}
.divider-content:after {
  left: 100%;
}

.container {
	/*display: flex;
    //align-items: center;
    //justify-content: center;*/
}
/*game__block*/
.game__block {
	align-items: center;
	justify-content: space-between;
	display: flex;
	position: absolute;
	height: 80%;
	width: 60%;
	z-index: 100;
	left: 7%;
}
.game__score {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column; 
}
.game__img {
	width: 10vw;
	height: 10vw;
	background-size: contain!important;
}
.game__img-left{
	background: url(./left.png) no-repeat;
}
.game__img-right{
	background: url(.//right.png) no-repeat;
}
.game__score div{
	align-items: flex-end;
	display: flex;
	margin-bottom: 20px;
}
.game__score-input {
    width: 60px;
    height: 80px;
    color: #424242;
    font-family: 'ProximaNovaCondBold', sans-serif;
    font-size: 60px;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-appearance: textfield;
    outline: none;
}
.game__score-colon {
	font-size: 30px;
	color: #61BF2C;
	display: inline-block;
    text-align: center;
    line-height: 80px;
    padding: 0 10px;
}
.game__score-button {
	color: white;
	display: block;
    font-family: 'ProximaNovaCondRegular', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #61BF2C;
    padding: 7px 12px 6px;
    transition: background-color 0.4s ease-out;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.game__score-button:hover {
	 background-color: rgba(255, 255, 255, 0);
	 color: black;
}
.game__competition_img {
	width: 64px;
	height: 64px;
	background-size: contain!important;
}
.about {
	background: url(../img/background-about.png) no-repeat;
	background-size: contain;
	height:405px;
	margin: 20px auto 0;
	position: relative;
	width: 100%;
}
.about__item {
	position: absolute;
	width: 280px
}
.about__item-left {
	left: 0;
	bottom: 240px;
}
.about__item-center {
	left: 520px;
	top: 250px;
}
.about__item-right {
	right: 0px;
	bottom: 290px;
}
.about__title {
	display: inline-block;
	font-size: 24px;
	padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
.about__title-number {
	color: #61BF2C;
}
.about__text {
	text-align: justify;
}



/*.jasgrid{padding:0;}*/
.box-item {
    float: left;
    opacity: 1;
    overflow: hidden;
    position: relative;
	margin: 10px;
}

.box-item img {
    width: 100%;
}

.box-item .box-post span.meta {
    font-family:  sans-serif;
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
    display: block;
}

.box-item .box-post span.meta span {
    margin-right: 15px;
}

.box-item .box-post {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-item .box-post h1..post-title {
   font-size:10pt;
}



@media screen and (max-width: 900px) {
	.game__score-input{
		width: 45px;
    	height: 60px;
	}
	.game__score-colon {
		line-height: 60px;
	}
	.game__score-button  {
		 font-size: 15px;
	}
}